#regList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#regList td, #regList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#regList tr:nth-child(even){background-color: #f2f2f2;}

#regList tr:hover {background-color: #ddd;}

#regList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #43D1AF;
    color: white;
}